# db import

In [1]:
import pymongo 

mongo_server = ''
mongo_port = 

from pymongo import MongoClient

mongo = MongoClient(mongo_server, mongo_port)

In [203]:
# 모델링 시간 구하기
from time import time

def check_time(t0):
    dur = time() - t0
    print ("계산에 걸린시간 : {:.3f} 초 \n".format(dur))

In [3]:
import pprint

# mongodb 객체 생성

v30_nondup= mongo.sns.v30_nondup
v30_dup = mongo.sns.v30_dup

note8_nondup= mongo.sns.note8_nondup
note8_dup = mongo.sns.note8_dup

* text 내용 가져오기

In [4]:
# 'text'내용 가져와서 리스트에 넣기
def take_text(name, mongo_object):
    print ("text : {}".format(name))
    t0 = time()
    result = mongo_object.find()
    mongo_text = []
    
    for record in result:
        mongo_text.append(record['text'])
        
    check_time(t0)
    return mongo_text

In [5]:
v30_nondup_text = take_text('v30중복 비허용', v30_nondup)
v30_dup_text = take_text('v30중복 허용', v30_dup)

note8_nondup_text = take_text('노트8 중복 비허용', note8_nondup)
note8_dup_text = take_text('노트8 중복 허용',note8_dup)

text : v30중복 비허용
계산에 걸린시간 : 2.583 초
text : v30중복 허용
계산에 걸린시간 : 9.792 초
text : 노트8 중복 비허용
계산에 걸린시간 : 0.586 초
text : 노트8 중복 허용
계산에 걸린시간 : 1.552 초

In [6]:
import pandas as pd
pd.DataFrame(v30_nondup_text).head()

                                                   0
0  야마가타 대학의 강점은 올레드, 나스카 지상화, 암 치료입니다. 이들은 유망입니다....
1  [IT다있다] #LG스마트폰 적자 1조 곧 출시될 #<b>V30</b> 희망이 되어...
2  LG <b>V30</b> 국민 체험단 응모해 보세요.  https://t.co/U3...
3  오직 <b>V30</b>라서 가능한 3가지 이야기, 3가지 기술들 https://t...
4  [뉴스] 구글 Pixel 2 XL FCC 인증 완료 HTC가 만들던건 드랍되고 <b...

In [7]:
pd.DataFrame(note8_dup_text).head()

                                                   0
0  후... <b>노트</b><b>8</b> 계약하고 왔다..... 기기가 매장에 없어...
1  후... <b>노트</b><b>8</b> 계약하고 왔다..... 기기가 매장에 없어...
2         허루ㅜㅜㅜㅜ<b>노트</b><b>8</b>케이스드디어이뿡고샄댜ㅠㅜㅠㅠㅠㅠㅠㅠ
3  오늘 사랑하는 사람에게는 어떤 러브액션이 필요할까요? 치약을 펌핑하여 다트를 맞춰주...
4  갤럭시 <b>노트</b><b>8</b> 일반판매 시작 https://t.co/9oL...

In [8]:
pd.DataFrame(note8_nondup_text).head()

                                                   0
0                    @jareun <b>노트</b><b>8</b>!!!!!!
1         허루ㅜㅜㅜㅜ<b>노트</b><b>8</b>케이스드디어이뿡고샄댜ㅠㅜㅠㅠㅠㅠㅠㅠ
2  오늘 사랑하는 사람에게는 어떤 러브액션이 필요할까요? 치약을 펌핑하여 다트를 맞춰주...
3  갤럭시 <b>노트</b><b>8</b> 일반판매 시작 https://t.co/9oL...
4  @baekdubu 아흑 <b>노트</b><b>8</b> 후기같은거 좀 보고 결정해야...

In [9]:
pd.DataFrame(v30_nondup_text).head()

                                                   0
0  야마가타 대학의 강점은 올레드, 나스카 지상화, 암 치료입니다. 이들은 유망입니다....
1  [IT다있다] #LG스마트폰 적자 1조 곧 출시될 #<b>V30</b> 희망이 되어...
2  LG <b>V30</b> 국민 체험단 응모해 보세요.  https://t.co/U3...
3  오직 <b>V30</b>라서 가능한 3가지 이야기, 3가지 기술들 https://t...
4  [뉴스] 구글 Pixel 2 XL FCC 인증 완료 HTC가 만들던건 드랍되고 <b...

# 정규 표현식

In [10]:
import re

In [11]:
def take_reg(name, text_list):
    t0 = time()
    print ("text : {}".format(name))
    
    reg_list = []
    
    for i in text_list:
        reg_text = re.sub(r'[<b>]*[a-zA-Z_@]*[.:;\/\!\(\)#\!?\[\]~%&|=^,+-]*[ㅠㅜㅋㅗㅑㅓㅣㅎ]*[♡▶★☆●■⭐️♥➡✨✌→▲❤▼↓♥�◀❣❣✅]*', '', i)
        reg_list.append(reg_text)
    
    check_time(t0)
    return reg_list

In [12]:
v30_nondup_reg_list = take_reg('v30중복 비허용', v30_nondup_text)
v30_dup_reg_list = take_reg('v30중복 허용', v30_dup_text)

note8_nondup_reg_list = take_reg('노트8중복 비허용', note8_nondup_text)
note8_dup_reg_list = take_reg('노트8중복 허용', note8_dup_text)

text : v30중복 비허용
계산에 걸린시간 : 0.014 초
text : v30중복 허용
계산에 걸린시간 : 0.535 초
text : 노트8중복 비허용
계산에 걸린시간 : 0.010 초
text : 노트8중복 허용
계산에 걸린시간 : 0.142 초

In [13]:
pd.DataFrame(note8_dup_reg_list).head()

                                                   0
0            후 노트8 계약하고 왔다 기기가 매장에 없어서 오후에 퀵으로 쏴주는걸로
1            후 노트8 계약하고 왔다 기기가 매장에 없어서 오후에 퀵으로 쏴주는걸로
2                                   허루노트8케이스드디어이뿡고샄댜
3  오늘 사랑하는 사람에게는 어떤 러브액션이 필요할까요 치약을 펌핑하여 다트를 맞춰주세...
4                          갤럭시 노트8 일반판매 시작 93 갤럭시노트8

In [14]:
pd.DataFrame(v30_dup_reg_list).head()

                                                   0
0  야마가타 대학의 강점은 올레드 나스카 지상화 암 치료입니다 이들은 유망입니다 삼성 ...
1  야마가타 대학의 강점은 올레드 나스카 지상화 암 치료입니다 이들은 유망입니다 삼성 ...
2  다있다 본격 색상마케팅   30 라벤더바이올렛 출시   갤노트8  메이플골드 출시 ...
3   30 블락비   뮤직비디오 촬영 꿀팁은  1 30 블락비 블락비뮤직비디오  지코 ...
4  30 라벤더 바이올렛의  솔직하게 평가해보니 과연  된다맥북아이맥 하이시에라 30 ...

In [15]:
pd.DataFrame(v30_nondup_reg_list).head()

                                                   0
0  야마가타 대학의 강점은 올레드 나스카 지상화 암 치료입니다 이들은 유망입니다 삼성 ...
1            다있다 스마트폰 적자 1조 곧 출시될 30 희망이 되어줄 수 있을까 5
2                   30 국민 체험단 응모해 보세요  3 30 30체험단 30
3                       오직 30라서 가능한 3가지 이야기 3가지 기술들
4  뉴스 구글  2   인증 완료 가 만들던건 드랍되고 30 기반  제품이예요 09  ...

In [16]:
pd.DataFrame(note8_nondup_reg_list).head()

                                                   0
0                                                노트8
1                                   허루노트8케이스드디어이뿡고샄댜
2  오늘 사랑하는 사람에게는 어떤 러브액션이 필요할까요 치약을 펌핑하여 다트를 맞춰주세...
3                          갤럭시 노트8 일반판매 시작 93 갤럭시노트8
4                   아흑 노트8 후기같은거 좀 보고 결정해야겠어욬뭘 먼저 살지

# 데이터 프레임화

In [35]:
# mongo db의 id, date가져오기
def take_contents(name, mongo_object):
    print ("Loading.. : {}".format(name))
    t0 = time()
    result = mongo_object.find()
    mongo_id = []
    mongo_date = []
    
    for record in result:
        mongo_id.append(record['id'])
        mongo_date.append(record['date'])
        
    check_time(t0)
    return mongo_id, mongo_date

In [36]:
v30_nondup_id, v30_nondup_data  = take_contents('v30중복 비허용', v30_nondup)
v30_dup_id, v30_dup_data = take_contents('v30중복 허용', v30_dup)

note8_nondup_id, note8_nondup_data = take_contents('노트8 중복 비허용', note8_nondup)
note8_dup_id, note8_dup_data = take_contents('노트8 중복 허용',note8_dup)

Loading.. : v30중복 비허용
계산에 걸린시간 : 1.231 초
Loading.. : v30중복 허용
계산에 걸린시간 : 2.867 초
Loading.. : 노트8 중복 비허용
계산에 걸린시간 : 0.450 초
Loading.. : 노트8 중복 허용
계산에 걸린시간 : 1.295 초

# export to MySQL

In [17]:
import MySQLdb

In [29]:
server = ''
db_id = 'root'
db_pwd = ''
db_db = 'phone_comparison'

In [51]:
db = MySQLdb.connect(server, db_id, db_pwd, db_db,
                    cursorclass=MySQLdb.cursors.DictCursor)

In [52]:
cursor = db.cursor()

In [80]:
# mysql 에 table 생성
def make_table (sns_name, table_name):
    print ("Making Table : {}".format(sns_name))
    t0 = time()
    cursor = db.cursor()
    sns_query = '''create table {}(
                    order_no int,
                    id varchar(255) not null,
                    sns_date varchar(255) not null,
                    sns_text varchar(1000) not null);'''.\
        format(table_name)
    
    try:
        
        cursor.execute(sns_query)
        db.commit()
    except Except as e:
        db.rollback()
        print (e)
    
    cursor.close()
    check_time(t0)

In [78]:
# 만들어진 table 에 data 삽입
def insert_mysql(sns_name,table_name, sns_id, sns_date, sns_text):
    print ("Inserting data : {}".format(sns_name))
    t0 = time()
    cursor = db.cursor()
    try:
        for i in range(len(sns_id)):
            cursor.execute("""INSERT INTO {} VALUES ({}, '{}', '{}', '{}');""".\
                           format(table_name, i,sns_id[i], sns_date[i], sns_text[i]))
        db.commit()
        print ("{} : DB 저장 완료". format(sns_name))
        
    except Exception as e:
        db.rollback()
        print (e)

    cursor.close()
    check_time(t0)

### Table 생성

In [81]:
make_table('v30중복 비허용',"v30_nondup")
make_table('v30중복 허용',"v30_dup")
make_table('노트8중복 비허용',"note8_nondup")
make_table('노트8중복 허용',"note8_dup")

Making Table : v30중복 비허용
계산에 걸린시간 : 0.727 초
Making Table : v30중복 허용
계산에 걸린시간 : 0.821 초
Making Table : 노트8중복 비허용
계산에 걸린시간 : 1.534 초
Making Table : 노트8중복 허용
계산에 걸린시간 : 0.717 초

### 데이터 삽입

In [82]:
insert_mysql('v30중복 비허용',"v30_nondup",v30_nondup_id,v30_nondup_data ,v30_nondup_reg_list)
insert_mysql('v30중복 허용',"v30_dup",v30_dup_id,v30_dup_data ,v30_dup_reg_list)
insert_mysql('노트8중복 비허용',"note8_nondup",note8_nondup_id,note8_nondup_data ,note8_nondup_reg_list)
insert_mysql('노트8중복 허용',"note8_dup",note8_dup_id,note8_dup_data ,note8_dup_reg_list)

Inserting data : v30중복 비허용
v30중복 비허용 : DB 저장 완료
계산에 걸린시간 : 142.592 초
Inserting data : v30중복 허용
v30중복 허용 : DB 저장 완료
계산에 걸린시간 : 7048.479 초
Inserting data : 노트8중복 비허용
노트8중복 비허용 : DB 저장 완료
계산에 걸린시간 : 193.477 초
Inserting data : 노트8중복 허용
노트8중복 허용 : DB 저장 완료
계산에 걸린시간 : 5389.118 초

In [83]:
db.close()

# Import Database

In [207]:
import pandas as pd

In [264]:


db = MySQLdb.connect(server, db_id, db_pwd, db_db, cursorclass=MySQLdb.cursors.DictCursor)
cursor = db.cursor()

In [265]:
#중복을 제거한 내용을 db에서 호출
def distinct_db(model_name, table_name):
    print ("Taking contents of {}".format(model_name))

    open_mysql()
    t0 = time()
    query = '''select distinct id, sns_text from {}'''.format(table_name)
    cursor.execute(query)
    data = cursor.fetchall()
    check_time(t0)
    


    return data_to_frame(data)

In [266]:
def data_to_frame(data):
    sns_id = []
    sns_text = []
    for d in data:
        sns_id.append(d['id'])
        sns_text.append(d['sns_text'])
    contents = {'id':sns_id, 'sns_text': sns_text}
    return pd.DataFrame(contents)

* 노트8 importing

In [267]:
note8 = distinct_db("노트8", 'note8_dup')
note8.head()

Taking contents of 노트8
계산에 걸린시간 : 1.030 초

            id                                           sns_text
0      xlsx464            후 노트8 계약하고 왔다 기기가 매장에 없어서 오후에 퀵으로 쏴주는걸로
1    10_cc6121                                   허루노트8케이스드디어이뿡고샄댜
2   thdus06131  오늘 사랑하는 사람에게는 어떤 러브액션이 필요할까요 치약을 펌핑하여 다트를 맞춰주세...
3   leeeun3791                          갤럭시 노트8 일반판매 시작 93 갤럭시노트8
4  cos_Shiro90           원래 노트8 고민 하고있었는데 찬율님꺼 실물 보고 뽕차오름크킄 만족스럽군

* V30 Importing

In [268]:
v30 = distinct_db('V30', 'v30_dup')
v30.head()

Taking contents of V30
계산에 걸린시간 : 1.011 초

              id                                           sns_text
0  yamadaikenbot  야마가타 대학의 강점은 올레드 나스카 지상화 암 치료입니다 이들은 유망입니다 삼성 ...
1       ajunews1  다있다 본격 색상마케팅   30 라벤더바이올렛 출시   갤노트8  메이플골드 출시 ...
2    sweetinside   30 블락비   뮤직비디오 촬영 꿀팁은  1 30 블락비 블락비뮤직비디오  지코 ...
3        kkibaek  30 라벤더 바이올렛의  솔직하게 평가해보니 과연  된다맥북아이맥 하이시에라 30 ...
4        underkg  뉴스 최상규 전자 사장 30 판매량 묻는 질문에 34잘 안팔려…34 올 3분기 추정...

### db 특징확인

In [282]:
print ("텍스트 개수 \n v30 : {} \n 노트8 : {} \n". format(len(v30.sns_text), \
                                                len(note8.sns_text)))
print ("id개수 \n v30 : {} \n 노트8 : {} \n".\
       format(len(v30.id.unique()), len(note8.id.unique())))

v30_prop = round(len(v30.sns_text)/len(v30.id.unique()),2)
note8_prop = round(len(note8.sns_text)/len(note8.id.unique()),2)

print ("한 id 당 등록 text 개수 \n v30 : {} \n 노트8 : {}".\
       format(v30_prop, note8_prop))

텍스트 개수
 v30 : 784
 노트8 : 938

id개수
 v30 : 369
 노트8 : 707

한 id 당 등록 text 개수
 v30 : 2.12
 노트8 : 1.33

* 광고글이 많은 것인지, 기대 및 후기가 많은 것인지 애매하다

### 피클

In [283]:

import pickle


pickle.dump(v30, open( "v30", "wb" ))
pickle.dump(note8, open( "note8", "wb" ))